.secondLine {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 30px;
	padding: 0 400px;
	height: 80px;
	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
	}
	&__navigation {
		display: flex;
		gap: 30px;
	}
	&__logo {
		color: #ffffff;
		font-size: 36px;
		font-weight: 700;
	}
	&__list {
		display: flex;
		gap: 13px;
		align-items: center;
	}
	&__user {
		cursor: pointer;
		display: flex;
		gap: 3px;
		align-items: center;
	}
	&__item,
	&__user {
		transition: opacity 0.2s ease-in;
	}
	&__item:hover,
	&__user:hover {
		opacity: 0.5;
	}
}
@media only screen and (max-width: 1500px) {
	.secondLine {
		padding: 0 220px;
	}
}
@media only screen and (max-width: 1200px) {
	.secondLine {
		padding: 0 120px;
	}
}
@media only screen and (max-width: 992px) {
	.secondLine {
		padding: 0 50px;
	}
}
@media only screen and (max-width: 768px) {
	.secondLine {
		height: 100px;
		margin-top: 10px;
		&__logo {
			width: 100%;
			font-size: 30px;
		}
		&__wrapper {
			flex-direction: column;
			gap: 20px;
			padding-top: 15px;
		}
		&__navigation {
			display: flex;
			justify-content: space-between;
			width: 100%;
			gap: 30px;
		}
	}
}
@media only screen and (max-width: 480px) {
	.secondLine {
		padding: 0 15px;
		&__logo {
			font-size: 26px;
		}
	}
}
@media only screen and (max-width: 385px) {
	.secondLine {
		&__navigation {
			gap: 10px;
		}
		&__list {
			font-size: 14px;
		}
		&__user {
			font-size: 14px;
		}
	}
}
@media only screen and (max-width: 340px) {
	.secondLine {
		&__navigation {
			gap: 15px;
		}
		&__list {
			font-size: 13px;
		}
		&__user {
			font-size: 13px;
		}
	}
}
