.arrivals {
	margin-top: 120px;
	margin-bottom: 140px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	&__title {
		font-size: 32px;
		position: relative;
		text-align: center;
		&::after {
			content: "";
			width: 100px;
			background-color: #fff;
			height: 1px;
			position: absolute;
			bottom: -50px;
			left: 50%;
			transform: translate(-50%);
		}
	}
	&__list {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		margin-top: 120px;
		gap: 20px;
		padding: 0 300px;
		.card {
			width: calc(25% - 15px);
			background-color: #191b1c;
			border-radius: 0 0 13px 13px;

			&__img {
				width: 100%;
				object-fit: cover;
				border-radius: 13px 13px 0 0;
				img {
					width: 100%;
					padding: 40px 25px;
				}
			}
			&__text {
				margin-top: 20px;
				padding: 22px;
				&_title {
					width: 100%;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
				&_btn {
					display: flex;
					justify-content: flex-end;
					align-items: center;
					gap: 10px;
					width: 100%;
					cursor: pointer;
				}
			}
			&__text p {
				font-family: "Playfair Display-RegularRoman", Helvetica;
				font-size: 27px;
				line-height: 45px;
				font-weight: 400;
			}
		}
	}
}
@media only screen and (max-width: 1700px) {
	.arrivals {
		&__list {
			padding: 0 150px;
		}
	}
}
@media only screen and (max-width: 1400px) {
	.arrivals {
		&__list {
			padding: 0 90px;
		}
	}
}
@media only screen and (max-width: 1200px) {
	.arrivals {
		&__list {
			.card {
				width: calc(33.33% - 14px);
			}
		}
	}
}
@media only screen and (max-width: 992px) {
	.arrivals {
		&__list {
			padding: 0 20px;
			.card {
				width: calc(50% - 10px);
			}
		}
	}
}
@media only screen and (max-width: 576px) {
	.arrivals {
		margin-top: 70px;
		margin-bottom: 70px;

		&__title {
			&::after {
				content: "";
				bottom: -30px;
			}
		}
		&__list {
			margin-top: 60px;
			flex-wrap: nowrap;
			overflow: scroll;
			padding-bottom: 20px;
			&::-webkit-scrollbar {
				height: 3px;
			}
			
			&::-webkit-scrollbar-track {
				background-color: #f1f1f1;
			}
			
			&::-webkit-scrollbar-thumb {
				background-color: #888;
				border-radius: 5px;
			}
			
			&::-webkit-scrollbar-thumb:hover {
				background-color: #555;
			}
			.card {
				min-width: 300px;
				max-width: 300px;
			}
		}
	}
}
