body {
	background-color: #000000;
	font-size: 16px;
	line-height: 16px;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	color: #fff;
	font-weight: 500;
	padding-bottom: 20px;
	font-family: "Post No Bills Jaffna-Bold", Helvetica;

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 24px;
}

* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
}

input,
button {
	border: none;
	background: none;
	outline: none;
	color: #fff;
	font-size: 16px;
	font-family: Montserrat, Roboto, sans-serif;
}

a {
	color: #fff;
	text-decoration: none;
}

ul,
li {
	padding: 0;
	margin: 0;
	list-style: none;
}

section {
	width: 1920px;

}
