.TopLine {
	width: 100%;
	margin-top: 14px;
	&__list {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 30px;
		color: #969696;
	}
}

@media only screen and (max-width: 576px) {
	.TopLine {
		&__list {
			font-size: 14px;
		}
	}
}
@media only screen and (max-width: 490px) {
	// .TopLine {
	// 	padding: 10px;
	// 	white-space: nowrap;
	// 	width: 100%;
	// 	&__list {
	// 		list-style-type: none;
	// 		display: flex;
	// 		overflow: hidden;
	// 		width: 100%;
	// 		animation: slide 10s linear infinite;
	// 		@keyframes slide {
	// 			0% {
	// 				transform: translateX(100%);
	// 			}
	// 			100% {
	// 				transform: translateX(-100%);
	// 			}
	// 		}
	// 	}
	// }
	.TopLine {
		width: 100%;
		overflow: hidden;
		&__list {
			gap: 10px;
		}
	}

	.TopLine__list.animateContent {
		list-style-type: none;
		display: flex;
		animation: slide 10s linear infinite;
	}

	.TopLine__item {
		white-space: nowrap;
	}

	@keyframes slide {
		0% {
			transform: translateX(100%);
		}
		100% {
			transform: translateX(-100%);
		}
	}
}
