.addProduct {
	padding: 40px 0;
	&__content {
		display: flex;
		justify-content: center;
	}
	.form {
		color: white;
		max-width: 600px;
		width: 100%;
		text-align: center;
		display: flex;
		gap: 15px;
		padding: 0 15px;

		flex-direction: column;
		&__title {
			margin-bottom: 40px;
		}
		&__label {
			text-align: left;
			display: flex;
			flex-direction: column;
			input {
				width: 100%;
				border-bottom: 1px solid gray;
				padding: 10px 0 10px 5px;
			}
			input[type="file"] {
				cursor: pointer;
			}
			.error {
				color: red;
			}
		}
		&__select {
			margin: 10px 0 30px;
			color: black;
			height: 40px;
			width: 170px;
			cursor: pointer;
		}
		&__btn {
			.button {
				cursor: pointer;
				background-color: gray;
				padding: 12px;
				border-radius: 7px;
				transition: opacity 0.2s ease-in;
				&:hover {
					opacity: 0.6;
				}
			}
		}
	}
}
