.headerMain {
	background-image: url("../../../assets/img/Header/HeaderMain.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: calc(100vh - 140px);
	position: relative;
	&__wrapper {
		width: 320px;
		height: 320px;
		border: 3px solid black;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	&__title {
		line-height: 30px;
		text-align: center;
		.title__top {
			color: #ffffff;
			font-size: 64px;
			font-weight: 700;
			text-align: center;
			display: inline-block;
			position: relative;
			&::before {
				content: "";
				border-bottom: 2px solid #fff;
				position: absolute;
				width: 100%;
				bottom: -15px;
			}
		}
		.title__bottom {
			font-size: 22px;
			font-weight: 400;
		}
	}

}
	@media only screen and (max-width: 450px) {

	}
@media only screen and (max-width: 450px) {
	.headerMain {
		&__wrapper {
			width: 270px;
			height: 270px;
		}
	}
}
