.orders {
	&__back {
		display: flex;
		justify-content: center;
		&_btn {
			font-size: 30px;
			cursor: pointer;
			transition: opacity 0.2s ease-in;
			&:hover {
				opacity: 0.5;
			}
		}
	}
	&__content {
		gap: 10px;
		display: flex;
		flex-direction: column;
	}
	&__contact {
		background: linear-gradient(90deg, #494544 0%, #504b4a 100%);
		border-radius: 10px;
		padding: 30px 30px 57px;
		&_btns {
			display: flex;
			gap: 10px;
			margin: 10px 0;

			.active_btn {
				color: black;
			}
		}
		&_checkbox {
			display: flex;
			align-items: center;
			cursor: pointer;
		}

		&_label {
			display: flex;
			margin-top: 30px;
			column-gap: 15px;
			&:nth-child(6) {
				.orders__contact_input {
					width: 100%;
				}
			}
		}
		&_checkbox {
			display: flex;
			align-items: center;
			cursor: pointer;
			gap: 9px;
		}

		&_title {
			font-family: "Gilroy", sans-serif;
			font-weight: 700;
			font-size: 18px;
			line-height: 22px;
			margin-bottom: 10px;
		}
		&_input {
			width: 50%;
			border: 1px solid rgba(255, 255, 255, 0.1);
			border-radius: 10px;
			padding: 20px 30px;
			font-family: "Gilroy", sans-serif;
			font-weight: 400;
			font-size: 16px;
			line-height: 19px;
			background: transparent;
		}
		.orders__contact_btn {
			cursor: pointer;
			background: grey;
			padding: 7px;
			border-radius: 5px;
		}
		.hover {
			padding: 12px;
			transition: background 0.3s ease-in;
			&:hover {
				background: rgba(255, 255, 255, 0.1);
			}
		}
	}
}
@media only screen and (max-width: 992px) {
	.orders {
		&__contact {
			padding: 25px;
		}
	}
}
@media only screen and (max-width: 768px) {
	.orders {
		&__contact {
			padding: 13px;

			&_label {
				flex-direction: column;
				gap: 15px;
				margin-top: 15px;
			}
			&_input {
				width: 100%;
			}
		}
	}
}
@media only screen and (max-width: 520px) {
	.orders {
		&__contact {
			padding: 13px;
			&_btns {
				flex-direction: column;
			}
		}
	}
}
